<?xml version="1.0" encoding="utf-8"?>
<log4net debug="false">
  <!-- Define some output appenders -->
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="rolling-log.log"/>
    <appendToFile value="true"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="100"/>
    <rollingStyle value="Size"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <header value="[Header]
"/>
      <footer value="[Footer]
"/>
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
    </layout>
  </appender>
  <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
    <file value="log-file.log"/>
    <!-- Example using environment variables in params -->
    <!-- <file value="${TMP}\log-file.txt" /> -->
    <appendToFile value="true"/>
    <!-- An alternate output encoding can be specified -->
    <!-- <encoding value="unicodeFFFE" /> -->
    <layout type="log4net.Layout.PatternLayout">
      <header value="[Header]
"/>
      <footer value="[Footer]
"/>
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline"/>
    </layout>
    <!-- Alternate layout using XML			
			<layout type="log4net.Layout.XMLLayout" /> -->
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline"/>
    </layout>
  </appender>
  <appender name="NetSendAppender" type="log4net.Appender.NetSendAppender">
    <threshold value="ERROR"/>
    <server value="SQUARE"/>
    <recipient value="nicko"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
    </layout>
  </appender>
  <!-- Example of how to configure the AdoNetAppender to connect to MS SQL Server -->
  <appender name="ADONetAppender_SqlServer_ComplexFanLog" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1"/>
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <connectionString value="data source=192.168.2.239;initial catalog=Net4Frm;integrated security=false;persist security info=True;User ID=sa;Password=vosung"/>
    <commandText value="INSERT INTO log_common_fan ([log_date],[thread],[log_level],[logger],[message],[exception],[entity_scheme_name],[entity_id],[string_for_old_entity],[string_for_new_entity],[description],[fan_class_name],[fan_function_in_code],[device_info],[userid]) VALUES (@log_date, @thread, @log_level, @logger, @message,@exception,@entity_scheme_name,@entity_id,@string_for_old_entity,@string_for_new_entity,@description,@fan_class_name,@fan_function_in_code,@device_info,@userid)"/>

    <parameter>
      <parameterName value="@log_date"/>
      <dbType value="DateTime"/>
      <!-- 
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
				</layout> 
				-->
      <layout type="log4net.Layout.RawTimeStampLayout"/>
    </parameter>
    <parameter>
      <parameterName value="@thread"/>
      <dbType value="String"/>
      <size value="255"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level"/>
      <dbType value="String"/>
      <size value="50"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger"/>
      <dbType value="String"/>
      <size value="255"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception"/>
      <dbType value="String"/>
      <size value="2000"/>
      <layout type="log4net.Layout.ExceptionLayout"/>
    </parameter>
    <parameter>
      <parameterName value="@entity_scheme_name"/>
      <dbType value="String"/>
      <size value="45"/>
      <layout type="LogEx.CommonLayout,LogEx">
        <conversionPattern value="%property{EntitySchemeName}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@entity_id"/>
      <dbType value="String"/>
      <size value="100"/>
      <layout type="LogEx.CommonLayout,LogEx">
        <conversionPattern value="%property{EntityID}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@string_for_old_entity"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="LogEx.CommonLayout,LogEx">
        <conversionPattern value="%property{StringForOldEntity}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@string_for_new_entity"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="LogEx.CommonLayout,LogEx">
        <conversionPattern value="%property{StringForNewEntity}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@description"/>
      <dbType value="String"/>
      <size value="500"/>
      <layout type="LogEx.CommonLayout,LogEx">
        <conversionPattern value="%property{Description}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@fan_class_name"/>
      <dbType value="String"/>
      <size value="45"/>
      <layout type="LogEx.CommonLayout,LogEx">
        <conversionPattern value="%property{fan_ClassName}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@fan_function_in_code"/>
      <dbType value="String"/>
      <size value="45"/>
      <layout type="LogEx.CommonLayout,LogEx">
        <conversionPattern value="%property{fan_FunctionInCode}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@device_info"/>
      <dbType value="String"/>
      <size value="45"/>
      <layout type="LogEx.CommonLayout,LogEx">
        <conversionPattern value="%property{DeviceInfo}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@userid"/>
      <dbType value="String"/>
      <size value="45"/>
      <layout type="LogEx.CommonLayout,LogEx">
        <conversionPattern value="%property{UserID}"/>
      </layout>
    </parameter>
  </appender>
  <!-- Example of how to configure the AdoNetAppender to connect to MS SQL Server -->
  <appender name="ADONetAppender_SqlServer_CommonLog" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1"/>
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <connectionString value="data source=192.168.2.239;initial catalog=Net4Frm;integrated security=false;persist security info=True;User ID=sa;Password=vosung"/>
    <commandText value="INSERT INTO log_common ([log_date],[thread],[log_level],[logger],[message],[exception],[entity_scheme_name],[entity_id],[string_for_old_entity],[string_for_new_entity],[description],[device_info],[userid]) VALUES (@log_date, @thread, @log_level, @logger, @message,@exception,@entity_scheme_name,@entity_id,@string_for_old_entity,@string_for_new_entity,@description,@device_info,@userid)"/>
    <parameter>
      <parameterName value="@log_date"/>
      <dbType value="DateTime"/>
      <!-- 
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
				</layout> 
				-->
      <layout type="log4net.Layout.RawTimeStampLayout"/>
    </parameter>
    <parameter>
      <parameterName value="@thread"/>
      <dbType value="String"/>
      <size value="255"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level"/>
      <dbType value="String"/>
      <size value="50"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger"/>
      <dbType value="String"/>
      <size value="255"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception"/>
      <dbType value="String"/>
      <size value="2000"/>
      <layout type="log4net.Layout.ExceptionLayout"/>
    </parameter>
    <parameter>
      <parameterName value="@entity_scheme_name"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="LogEx.CommonLayout">
        <conversionPattern value="%property{EntitySchemeName}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@entity_id"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="LogEx.CommonLayout">
        <conversionPattern value="%property{EntityID}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@string_for_old_entity"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="LogEx.CommonLayout">
        <conversionPattern value="%property{StringForOldEntity}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@string_for_new_entity"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="LogEx.CommonLayout">
        <conversionPattern value="%property{StringForNewEntity}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@description"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="LogEx.CommonLayout">
        <conversionPattern value="%property{Description}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@device_info"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="LogEx.CommonLayout">
        <conversionPattern value="%property{DeviceInfo}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@userid"/>
      <dbType value="String"/>
      <size value="4000"/>
      <layout type="LogEx.CommonLayout">
        <conversionPattern value="%property{UserID}"/>
      </layout>
    </parameter>
  </appender>
  <!-- Setup the root category, add the appenders and set the default level -->
  <root>
    <level value="ALL"/>
    <appender-ref ref="LogFileAppender"/>
    <appender-ref ref="ConsoleAppender"/>
    <appender-ref ref="ADONetAppender_SqlServer_ComplexFanLog"/>
    <appender-ref ref="ADONetAppender_SqlServer_CommonLog"/>
    <!--<appender-ref ref="NetSendAppender" />-->
    <!--<appender-ref ref="A" />-->
  </root>
  <!-- Specify the level for some specific categories -->
  <logger name="ConsoleApp.LoggingExample">
    <!-- <appender-ref ref="B" /> -->
    <level value="ALL"/>
    <appender-ref ref="RollingLogFileAppender"/>
    <appender-ref ref="ADONetAppender_SqlServer_ComplexFanLog"/>
  
  </logger>
</log4net>